
	<script type="text/javascript" src="http://mgurus.jbd.netdna-cdn.com/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://mgurus.jbd.netdna-cdn.com/js/retina.js"></script>
	<script type="text/javascript" src="http://mgurus.jbd.netdna-cdn.com/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="http://mgurus.jbd.netdna-cdn.com/js/smoothscroll.js"></script>
	<script type="text/javascript" src="http://mgurus.jbd.netdna-cdn.com/js/jquery-func.js"></script>
