<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon fa fa-desktop logo3"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon fa fa-desktop butt3"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://imamac.guru/#home" class="smoothScroll">Home</a></li>
			<li> <a href="http://imamac.guru/#about" class="smoothScroll"> About</a></li>
			<li> <a href="http://imamac.guru/#services" class="smoothScroll"> Services</a></li>
			<li> <a href="http://imamac.guru/#technology" class="smoothScroll"> Technology</a></li>
			<li> <a href="http://imamac.guru/#solutions" class="smoothScroll"> Solutions</a></li>
			<li> <a href="http://imamac.guru/projects/guru-app/" class="smoothScroll"> App</a></li>
			<li> <a href="http://imamac.guru/#contact" class="smoothScroll"> Contact</a></li>
			<li> <a href="http://imamac.guru/projects/guru-app/" class="smoothScroll"> Support</a></li>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>