<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive site -->
		 <!-- chrome frame -->
		<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1"> <!-- prevents browser zoom on small devices -->
		<meta name="keywords" content="{{page.tags | join: ', '}}"/>
		<link rel="author" href="humans.txt">
		<meta name="description" content="{{page.content | strip_html | truncatewords: 20}}" />
		<link rel="stylesheet" href="http://mgurus.jbd.netdna-cdn.com/css/style.css">	
       	    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" href="favicon.ico">	   

    <!-- Bootstrap core CSS -->
    <link href="http://mgurus.jbd.netdna-cdn.com/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://mgurus.jbd.netdna-cdn.com/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="http://mgurus.jbd.netdna-cdn.com/css/icomoon.css">
    <link href="http://mgurus.jbd.netdna-cdn.com/css/animate-custom.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="http://mgurus.jbd.netdna-cdn.com/js/jquery.min.js"></script>
	<script type="text/javascript" src="http://mgurus.jbd.netdna-cdn.com/js/modernizr.custom.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://mgurus.jbd.netdna-cdn.com/js/html5shiv.js"></script>
      <script src="http://mgurus.jbd.netdna-cdn.com/js/respond.min.js"></script>
    <![endif]-->



		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css"> 
	</head>
  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">


{% include nav.html %}

{{ content }}

{% include footer.html %}
       
	</body>
</html>